openapi: 3.1.0
info:
  title: ChatPG
  version: 1.0.0

servers:
  - url: "http://127.0.0.1:8080/api"



paths:
  /login:
    post:
      tags:
        - AuthController
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginCredentials'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: string
                examples: ["Wrong password"]
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: string
                examples: ["Account not found"]
  /login/exists:
    post:
      tags:
        - AuthController
      security: []
      requestBody:
        description:
        content:
          text/plain:
            schema:
              type: string
              examples: [JohnDoe]
      responses:
        '200':
          description: Success
          content:
            plain/text:
              schema:
                type: boolean
                examples: [true]

  /account/current:
    get:
      tags:
        - AccountController
      responses:
        '200':
          description: Success
          content:
            plain/text:
              schema:
                type: boolean
                examples: [true]
        '401':
          $ref: "#/components/responses/Unauthorized"

  /chats/all:
    get:
      tags:
        - ChatController
      responses:
        '200':
          description: Success
          $ref: "#/components/schemas/ChatArray"
        '401':
          $ref: "#/components/responses/Unauthorized"
  "/chats/byName/{chatName}":
    get:
      tags:
        - ChatController
      parameters:
        - name: chatName
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chat2"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '404':
          $ref: "#/components/responses/ChatNotFound"
  "/chats/{chatId}/model":
    patch:
      tags:
        - ChatController
      parameters:
        - name: chatId
          in: path
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: No content
        '401':
          $ref: "#/components/responses/Unauthorized"
        '404':
          $ref: "#/components/responses/ChatNotFound"
    get:
      tags:
        - ChatController
      parameters:
        - name: chatId
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiModel"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '404':
          $ref: "#/components/responses/ChatNotFound"
  "/chats/{chatId}/messages/new/{referenceId}":
    patch:
      tags:
        - ChatController
      parameters:
        - name: chatId
          in: path
          schema:
            type: integer
          required: true
        - name: referenceId
          in: path
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                "#/components/schemas/MessageArray"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '404':
          $ref: "#/components/responses/ChatNotFound"

security:
  - auth: []

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [2]
        name:
          type: string
          examples: ["John Doe"]
    Account2:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [3]
        name:
          type: string
          examples: ["Jane Doe"]
    AiModel:
      type: object
      properties:
        nickname:
          type: string
          examples: ["gemini-2.5-flash"]
    LoginCredentials:
      type: object
      properties:
        username:
          type: string
          examples: ["Xx-JohnDoe-xX"]
        password:
          type: string
          examples: ["verynicepassword"]
    Token:
      type: object
      properties:
        token:
          type: string
          examples: ["9278ebf05bc999c95dce8e34b8e3ae460df6992c6d243b55325c818444a7cfeb"]
    Chat:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [3]
        name:
          type: string
          examples: ["Chat about bananas"]
    Chat2:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [5]
        name:
          type: string
          examples: ["Chat about pumpkins"]
    ChatArray:
      type: array
      content: 
        application/json:
          schema:
            type: array
            examples: [[
              {
                id: 3,
                name: "Chat about bananas"
              }, 
              {
                id: 5,
                name: "Chat about pumpkins"
              }
            ]]
    Message:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [1648]
        content:
          type: string
          examples: ["Good morning!"]
        isBot:
          type: boolean
          examples: [false]
        account:
          $ref: '#/components/schemas/Account'
    MessageArray:
      type: array
      content: 
        application/json:
          schema:
            type: array
            examples: [[
              {
                id: 2133,
                content: "Good morning!\n\nHow was your day?",
                isBot: false,
                account: {
                  id: 3,
                  name: 
                }
              }, 
              {
                id: 2134,
                name: ""
              }
            ]]
    Poll:
      type: object
      properties:
        chat:
          $ref: '#/components/schemas/Chat'
        subject:
          type: string
          enum:
            - REQUEST_AI_MESSAGE
        quota:
          type: integer
          format: int32
          examples: [4]
        votes:
          type: integer
          format: int32
          examples: [2]

  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        text/plain:
          schema:
            type: string
            examples: ["Unauthorized"]
    ChatNotFound:
      description: Not found
      content:
        text/plain:
          schema:
            type: string
            examples: ["Chat not found"]
